<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="os1_example">
  
  <xacro:include filename="$(find ouster_description)/urdf/turtlebot3_description/urdf/turtlebot3_waffle.urdf.xacro"/>

  <xacro:include filename="$(find ouster_description)/urdf/OS1-64.urdf.xacro"/>
  <OS1-64 parent="base_link" name="os1_sensor" hz="10" samples="220">
    <origin xyz="-0.05 0 0.2" rpy="0 0 0" />
  </OS1-64>

</robot>
